<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>   
      <%- include('navbar', {user: user}); %>
      <div class="card" style="width: 100%;">
        <div class="card-body">
            <h1><%= profileMessage %> <%= user.email %></h1>
            <p>User ID: <%= user.id %></p>
            <p>User password hash: <%= user.password %></p>
            
            <div style="margin-bottom: 20px;">
                <h2>User posts:</h2>
                <% if(user.posts != null){ %>
                    <% for(var i=0; i < user.posts.length; i++) {%>
                        <a href="/post/<%= user.posts[i].id %>"><%= user.posts[i].title %></a><br>
                    <% } %>
                <%}else{%>
                        <p>User has no posts</p>
                <%}%>
                <button class="btn btn-primary"><a href="/newpost" style="color: white;">New POST!</a></button>    
            </div>

            <a href="/"> Go home</a>
        </div>
      </div>

    </body>
</html>